body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


header {
position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 0px;
background-color: #78FFD2;
}