<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Finance</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>Personal Finance</header>
    <h2>Enter a New Bill Here</h2>
    <div>
    <form action="/bills/online" method="POST" autocomplete="off">
        <label>Name of Service:
            <input type="text" name="name">
        </label><br>
        <label>Bill Catagory
            <select name="category">
                <option value="Online">Online Subcriptions</option>
                <option value="Utilities">Utilities</option>
                <option value="Other">Other</option>
            </select>
        </label><br>
        <label>Cost per month: $
            <input type="text" name="price">
        </label><br>
        <label>Date due:
            <input type="date" name="dueDate" checked>
        </label><br>
        <input type="submit" value="Add Bill">
    </form>
    </div>
</body>

</html>