<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Finance</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>Personal Finance</header>
    <h2>Enter a New Bill Here</h2>
    <div>
    <form action="/bills" method="POST">
        <label>Name of bill:
            <input type="text" name="title">
        </label><br>
        <label>Bill Catagory
            <select name="mpaaRating">
                <option value="G">Online Subcriptions</option>
                <option value="PG">Utilities</option>
                <option value="PG-13">Other</option>
            </select>
        </label><br>
        <label>Cost per month: $
            <input type="text" name="cast">
        </label><br>
        <label>Date due:
            <input type="date" name="nowShowing" checked>
        </label><br>
        <input type="submit" value="Add Bill">
    </form>
    </div>
</body>

</html>