<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Bills</title>
</head>
<body>
    <header>
        Personal Finance <br>
        <a href="/bills/hub">Hub</a>
        <a href="/bills/new">Create new Bill</a>
        <a href="/bills/online">Online</a>
        <a href="/bills/utilities">utilities</a>
        <a href="/bills/other">Other</a>
    </header>
    <div>Online</div>
    <ul>
        <% user.bill.forEach(function(user){  %> 
            <li>
                <p><%= user.name  %></p>
                <p>$<%= user.price  %></p>
                <p><%= user.dueDate  %></p>
            </li>
         <% }) %>   
    </ul>
</body>
</html>